<ion-header>
  <ion-toolbar>
    <ion-title>series</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_popOver($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>ปีที่ออกอากาศ</ion-label>
      <ion-select #newSelect [(ngModel)]="selectValue" (ionChange)="onChange(selectValue)">
        <ion-select-option value="2009" checked="true">2009</ion-select-option>
        <ion-select-option value="2010">2010</ion-select-option>
        <ion-select-option value="2011">2011</ion-select-option>
        <ion-select-option value="2012">2012</ion-select-option>
        <ion-select-option value="2013">2013</ion-select-option>
        <ion-select-option value="2014">2014</ion-select-option>
        <ion-select-option value="2015">2015</ion-select-option>
        <ion-select-option value="2016">2016</ion-select-option>
        <ion-select-option value="2017">2017</ion-select-option>
        <ion-select-option value="2018">2018</ion-select-option>
        <ion-select-option value="2019">2019</ion-select-option>
        <ion-select-option value="2020">2020</ion-select-option>
        <ion-select-option value="2021">2021</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div *ngIf="showAll">
    <ion-card *ngFor="let d of detailSeries" (click)="selectDetailSeries(d)">
      <ion-card-header>
        <img src={{d.image}}>
        <ion-card-title>ชื่อเรื่อง: {{d.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>วันออกกาศ {{d.sday}} - {{d.eday}}</p>
        <p>ช่อง {{d.channel}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!showAll">
    <ion-card *ngFor="let dt of listSelectYear" (click)="selectDetailSeries(dt)">
        <ion-card-header>
          <img src={{dt.image}}>
          <ion-card-title>ชื่อเรื่อง: {{dt.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>วันออกกาศ {{d.sday}} - {{d.eday}}</p>
          <p>ช่อง {{d.channel}}</p>
        </ion-card-content>
    </ion-card>
  </div>
  <ion-button  expand="block" (click)='back()' >กลับ</ion-button>

</ion-content>