<ion-header>
  <ion-toolbar>
    <ion-title>editProduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <div id="container">
      <ion-card class="ion-text-center" *ngIf="!isUploading && !isUploaded">
        <ion-card-header>
          <img *ngIf="getImage2" [src]="getImage2" />
        </ion-card-header>
        <ion-card-content>
          <ion-button color="primary" shape="round" size="medium">
            <span>Select Image</span>
            <input id="uploadBtn2" type="file" class="upload" (change)="buildImage($event)" />
          </ion-button>

        </ion-card-content>
      </ion-card>

      <div style="display: none;" *ngIf="trackSnapshot | async as snap">
        File size: {{ snap.totalBytes | formatFileSize }}

        Data transfered: {{ snap.bytesTransferred | formatFileSize }}
      </div>

    </div>




    <ion-card-content>
      <ion-item>
        ชื่อเรื่อง: <ion-input placeholder="title" [(ngModel)]="getTitle"></ion-input>
      </ion-item>
      <ion-item>
        เรื่องย่อ: <ion-textarea rows="6" placeholder="description" [(ngModel)]="getDescription"></ion-textarea>
      </ion-item>
      <ion-item>
        จำนวนตอน: <ion-input type="number" placeholder="ep" [(ngModel)]="ep"></ion-input>
      </ion-item>
      <ion-item>
        วันเริ่มออกอากาศ: <ion-input placeholder="วันเริ่มออกอากาศ" [(ngModel)]="sday"></ion-input>
      </ion-item>
      <ion-item>
        วันหยุดออกอากาศ: <ion-input placeholder="วันหยุดออกอากาศ" [(ngModel)]="eday"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label>แนว</ion-label>
          <ion-select #newSelect [(ngModel)]="typeSelectValue" (ionChange)="onChangeType(typeSelectValue)">
            <ion-select-option value="drama" checked="true">drama</ion-select-option>
            <ion-select-option value="romance">romance</ion-select-option>
            <ion-select-option value="action">action</ion-select-option>
            <ion-select-option value="comedy">comedy</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label>ปีที่ออกอากาศ</ion-label>
          <ion-select #newSelect [(ngModel)]="yearSelectValue" (ionChange)="onChangeYear(yearSelectValue)">
            <ion-select-option value="2009" checked="true">2009</ion-select-option>
            <ion-select-option value="2010">2010</ion-select-option>
            <ion-select-option value="2011">2011</ion-select-option>
            <ion-select-option value="2012">2012</ion-select-option>
            <ion-select-option value="2013">2013</ion-select-option>
            <ion-select-option value="2014">2014</ion-select-option>
            <ion-select-option value="2015">2015</ion-select-option>
            <ion-select-option value="2016">2016</ion-select-option>
            <ion-select-option value="2017">2017</ion-select-option>
            <ion-select-option value="2018">2018</ion-select-option>
            <ion-select-option value="2019">2019</ion-select-option>
            <ion-select-option value="2020">2020</ion-select-option>
            <ion-select-option value="2021">2021</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
        นักแสดง: <ion-input placeholder="นักแสดง" [(ngModel)]="actor"></ion-input>
      </ion-item>
      <ion-item>
        ช่อง: <ion-input placeholder="ช่อง" [(ngModel)]="channel"></ion-input>
      </ion-item>
      <ion-item>
        ช่วงเวลาออนแอร์: <ion-input placeholder="ช่วงเวลาออนแอร์" [(ngModel)]="time"></ion-input>
      </ion-item>
      
      <ion-button expand="block" (click)="checkImage()">edit</ion-button>
      <ion-button expand="block" color="medium" (click)="back()">back</ion-button>
    </ion-card-content>




  </ion-card>



</ion-content>