<ion-header>
  <ion-toolbar>
    <ion-title>editProduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   
  
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="image" [(ngModel)]="getImage"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="title" [(ngModel)]="getTitle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea rows="6" placeholder="description" [(ngModel)]="getDescription"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input placeholder="price" [(ngModel)]="getPrice"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="size" [(ngModel)]="getSize"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="company" [(ngModel)]="getCompany"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="type" [(ngModel)]="getType"></ion-input>
      </ion-item>
      
      <ion-button expand="block" (click)="UpdateData()">edit</ion-button>
    </ion-card-content>
  </ion-card>  

</ion-content>
