
 <ion-header>
  <ion-toolbar>
    <ion-title>

      <img width="100" height="50" src="https://firebasestorage.googleapis.com/v0/b/bemyae-ec94f.appspot.com/o/Screen%20Shot%202564-03-09%20at%2018.02.19.png?alt=media&token=6506097b-58d7-4667-bc48-76c9871e41eb">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_popOver($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let sr of allSeries">
    <ion-card-header>
    <img src={{sr.image}}>
    <ion-card-title>{{sr.title}}</ion-card-title>    
  </ion-card-header>  
  <ion-card-content>
    <p>วันออกกาศ {{sr.sday}} - {{sr.eday}}</p>
    <p>ช่วงเวลา {{sr.time}}</p>
    <p>ช่อง {{sr.channel}}</p>
    <p>{{sr.description}}</p>
  </ion-card-content>
  <div class="ion-text-end">
    <ion-button  (click)="editSeries(sr)" color="warning">แก้ไข</ion-button>
    <!-- <ion-button (click)="deleteProduct(sr)"  color="danger">delete</ion-button> -->
    <ion-button (click)="presentAlertConfirm(sr)"  color="danger">ลบ</ion-button>
  </div>

  </ion-card>
  <ion-fab color="tertiary"  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addData()"> 
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>