 <ion-header>
  <ion-toolbar>
    <ion-title>Admin BeMyAe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_popOver($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let pd of allProduct">
    <ion-card-header>
      <img src={{pd.image}}>
      <ion-card-title>{{pd.title}}</ion-card-title>
      <ion-card-subtitle>{{pd.price}}</ion-card-subtitle>
      
    </ion-card-header>  
    <ion-card-content>
     {{pd.description}}   
    </ion-card-content>
    <div class="ion-text-end">
      <ion-button  (click)="editProduct(pd)" color="warning">edit</ion-button>
      <ion-button (click)="deleteProduct(pd)"  color="danger">delete</ion-button>
    </div>


  </ion-card>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addData()"> 
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>


