<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img width="100" height="50"
        src="https://firebasestorage.googleapis.com/v0/b/bemyae-ec94f.appspot.com/o/Screen%20Shot%202564-03-09%20at%2018.02.19.png?alt=media&token=6506097b-58d7-4667-bc48-76c9871e41eb">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="_popOver($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br><br>
  <div text-center>
    <center>
      <h2> Admin K series แอปพลิเคชัน</h2>
    </center>   
  </div> 
  <br><br>
  <ion-card (click)="buttonClick('drama')">
    ​
    <ion-item color="tertiary" lines="none">
      <ion-label>
        <h1>Drama</h1>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="none">
      <ion-label>
        ซีรีย์ที่จะพาคุณไปรู้ถึงเรื่องราวของชีวิต
      </ion-label>
    </ion-item>

  </ion-card>
  <ion-card (click)="buttonClick('romance')">
    ​
    <ion-item color="secondary" lines="none">
      <ion-label>
        <h1>Romance</h1>
      </ion-label>
    </ion-item>
    <ion-item color="secondary" lines="none">
      <ion-label>
        ซีรีย์ที่จะพาคุณไปพบกับเรื่องราวที่โรแมนติกสุดฟิน
      </ion-label>
    </ion-item>

  </ion-card>
  <ion-card (click)="buttonClick('action')">
    ​
    <ion-item color="danger" lines="none">
      <ion-label>
        <h1>
          Action
        </h1>
      </ion-label>
    </ion-item>
    <ion-item color="danger"  lines="none">
      ซีรีย์ที่จะพาคุณไปพบกับความตื่นเต้น
    </ion-item>

  </ion-card>

  <ion-card  (click)="buttonClick('comedy')">
    ​
    <ion-item color="warning" lines="none">
      <ion-label>
        <h1>Comedy</h1>
      </ion-label>
    </ion-item>
    <ion-item color="warning" lines="none">
      <ion-label>
        ซีรีย์ที่จะพาคุณไปพบกับความตลกขบขัน
      </ion-label>
    </ion-item>

  </ion-card>



  <ion-fab color="tertiary"  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addData()"> 
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>